<a href="https://colab.research.google.com/github/KarthikAmuthuri/Task-08/blob/main/NLP_Task_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task-2**

Create a program that needs to automatically correct that spelling from the word or a given sentence. (Language : English) 
Note:  show 100 data point outputs both in words and sentence.

In [ ]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob) (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob) (1.2.0)

In [ ]:
from textblob import TextBlob

import pandas as pd

In [ ]:
data = pd.read_excel('misspelled.xlsx')
data.head()

     Incorrect_words
0   you souhld apeal
1           emploies
2           encorage
3          perminant
4      mathematicaly

In [ ]:
data.shape

(363, 1)

In [ ]:
data.insert(1,"Correct_words",' ')

In [ ]:
x = list(data.iloc[:,0])
x

In [ ]:
crt_words = []
for i in x:
  word = TextBlob(i)
  crt_words.append(str(word.correct()))
crt_words

In [ ]:
data.iloc[:,1] = crt_words
data

       Incorrect_words      Correct_words
0     you souhld apeal   you would appeal
1             emploies           employed
2             encorage          encourage
3            perminant          permanent
4        mathematicaly       mathematical
..                 ...                ...
358             whould              would
359       investegated       investigated
360        recomending       recommending
361           earlyest           earliest
362           imediate          immediate

[363 rows x 2 columns]